* {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: 300;
}

.carousel-main-container {
  position: relative;
}

.carousel-image {
  display: none;
}

.slide {
  width: 100%;
  height: auto;
}

.carousel-nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 5px;
  position: absolute;
  bottom: 40px;
}

.carousel-nav {
  cursor: pointer;
  border: none;
  height: 5px;
  width: 30px;
  border-radius: 2px;
  background-color: #ffffff71;
}

.carousel-nav-selected,
.carousel-nav:hover {
  background-color: #ffffffcc;
}

.previous,
.next {
  border: none;
  background-color: #ffffff00;
  color: #ffffff71;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  font-weight: 900;
}

.previous {
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
}

.next {
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
}

.previous:hover,
.next:hover {
  color: #ffffffcc;
}

.cards-main-container {
  display: flex;
  column-gap: 10px;
  max-width: 950px;
  margin: 0 auto;
}

.card-container {
  border: 1px solid #0000002d;
  flex-basis: calc(100% / 3);
  position: relative;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-text-container {
  padding: 0 10px;
}

.card-text {
  margin-top: -15px;
  margin-bottom: 50px;
}

.card-button {
  cursor: pointer;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  bottom: 10px;
  margin-top: 5px;
}

.card-button:hover {
  background-color: #0084ffbb;
}

@media (max-width: 600px) {
  .cards-main-container {
    flex-direction: column;
    max-width: 300px;
  }

  .slide {
    height: 350px;
    object-fit: cover;
  }

  .card-container {
    margin: 10px auto;
  }
}
